* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}

.App {
  position: fixed;
  bottom: 8%;
  right: 5%;
}

.botBtn {
  color: #3f51b5;
  background: white !important;
  position: fixed !important;
  right: 4%;
  bottom: 5%;
  transition-property: transform !important;
}

.botAvatar {
  background-color: #2898ec !important;
}

.botBtn:hover {
  transform: scale(1.3);
}

.react-chatbot-kit-chat-container {
  width: 373px !important;
  box-shadow: 1px 0px 10px 5px #80808073 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.react-chatbot-kit-chat-inner-container {
  border-radius: inherit !important;
  display: flex;
  flex-direction: column;
}

.react-chatbot-kit-chat-bot-message span {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.react-chatbot-kit-chat-message-container {
  overflow: auto !important;
  background-color: rgb(234, 238, 243) !important;
}

.react-chatbot-kit-chat-bot-message-container {
  gap: 12px !important;
}

.react-chatbot-kit-user-chat-message-container {
  gap: 12px !important;
}

.react-chatbot-kit-chat-bot-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80% !important;
  padding: 0 !important;
  background: rgba(0, 0, 0, 0.26) !important;
  color: black !important;
  margin-left: 0 !important;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid rgba(0, 0, 0, 0.26) !important;
}

.react-chatbot-kit-user-chat-message {
  background-color: #2898ec !important;
  color: white !important;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid #2898ec !important;
}

.react-chatbot-kit-chat-input-container {
  position: initial !important;
}

.botHeader {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 2fr auto;
  gap: 14px;
  border-bottom: 1px solid #8080804a;
}

.botHeader .botheader-icon {
  background: #2898ec;
  color: white;
  pointer-events: none;
}

.botHeader .botHeader-badge>span {
  background-color: #39ed07;
}

.botHeader>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}