/* Layout Css */

* {
  margin: 0;
  padding: 0;
  --font: math;
}

body {
  height: 100vh;
  background-color: wheat;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

/* ChatBot Default Css Override */

.react-chatbot-kit-chat-container {
  width: 373px !important;
  box-shadow: 1px 0px 10px 5px #80808073 !important;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.react-chatbot-kit-chat-inner-container {
  border-radius: inherit !important;
  display: flex;
  flex-direction: column;
}

.react-chatbot-kit-chat-message-container {
  overflow: auto !important;
  background-color: rgb(234, 238, 243) !important;
}

.react-chatbot-kit-chat-bot-message-container,
.react-chatbot-kit-user-chat-message-container {
  gap: 12px !important;
  margin: 10px 0 !important;
}

.react-chatbot-kit-user-chat-message {
  background-color: #2898ec !important;
  color: white !important;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid #2898ec !important;
}

.react-chatbot-kit-chat-input-container {
  position: initial !important;
}

.react-chatbot-kit-chat-btn-send:hover {
  background-color: #2897ec71;
  cursor: pointer;
}

.disableSend {
  pointer-events: none;
}

#chatbot-loader {
  fill: #2898ec;
}

/* ChatBot Css */

.botContainer {
  position: fixed !important;
  bottom: 8%;
  right: 5%;
  transition: all 200ms ease-in;
  opacity: 0;
  pointer-events: none;
}

.show{
  pointer-events: initial;
  opacity: 1;
}

.botBtn {
  color: #2898ec !important;
  background: white !important;
  position: fixed !important;
  right: 4%;
  bottom: 5%;
  transition-property: transform !important;
}

.botAvatar {
  background-color: #2898ec !important;
  align-self: start;
  width: 30px !important;
  height: 30px !important;
}

.botBtn:hover {
  transform: scale(1.3);
}

.botHeader {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 2fr auto;
  gap: 14px;
  border-bottom: 1px solid #8080804a;
}

.botHeader .botheader-icon {
  background: #2898ec;
  color: white;
  pointer-events: none;
}

.botHeader .botHeader-badge > span {
  background-color: #39ed07;
}

.botHeader > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.botHeader > div span {
  font-family: var(--font);
}

.botMessage {
  width: auto;
  background: white;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 9px;
}

.botMessage span {
  text-align: justify;
  font-family: var(--font);
}

.userMessage {
  width: auto;
  background: #2898ec;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-top: 9px;
}

.userMessage span {
  text-align: justify;
  font-family: var(--font);
  color: white;
}
